.faculty-card,
.student-card {
  height: 24rem;
  width: 24rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(90, 81, 214, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2563eb;
  height: 3.5rem;
  width: 8rem;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-button:hover {
  transform: scale(1.1);
}
